.navbar-nav > li {
  display: none;
}
.navbar-default .navbar-nav > li > a {
  text-align: center;
}
#main-paragraph {
  margin: 65px;
  padding: 15px;
  background-color: grey;
  color: black;
}







